In [11]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, average_precision_score, balanced_accuracy_score
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score, precision_recall_fscore_support 
#from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import warnings
import pickle
import math
import joblib

warnings.filterwarnings("ignore")

In [12]:
data = pd.read_csv("diabetes.csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_binary       253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [13]:
catcol = ['HighBP', 'CholCheck', 'Smoker', 'Stroke', 'PhysActivity', 'NoDocbcCost', 'Sex', 'BMI', 'Age', 'Education']

new_df = data[catcol]
new_df.head()

,HighBP,CholCheck,Smoker,Stroke,PhysActivity,NoDocbcCost,Sex,BMI,Age,Education
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,40.0,9.0,4.0
1,0.0,0.0,1.0,0.0,1.0,1.0,0.0,25.0,7.0,6.0
2,1.0,1.0,0.0,0.0,0.0,1.0,0.0,28.0,9.0,4.0
3,1.0,1.0,0.0,0.0,1.0,0.0,0.0,27.0,11.0,3.0
4,1.0,1.0,0.0,0.0,1.0,0.0,0.0,24.0,11.0,5.0

In [14]:
y = data['Diabetes_binary'].values
X = new_df.values

In [15]:
y =y.astype('int')
X =X.astype('int')

In [21]:
num_col = ['BMI','Age','Education']
df = data[num_col]
df

         BMI   Age  Education
0       40.0   9.0        4.0
1       25.0   7.0        6.0
2       28.0   9.0        4.0
3       27.0  11.0        3.0
4       24.0  11.0        5.0
...      ...   ...        ...
253675  45.0   5.0        6.0
253676  18.0  11.0        2.0
253677  28.0   2.0        5.0
253678  23.0   7.0        5.0
253679  25.0   9.0        6.0

[253680 rows x 3 columns]

In [17]:
Scaler = MinMaxScaler(copy=True,features)
 fea

In [19]:
X

array([[ 1,  1,  1, ..., 40,  9,  4],
       [ 0,  0,  1, ..., 25,  7,  6],
       [ 1,  1,  0, ..., 28,  9,  4],
       ...,
       [ 0,  1,  0, ..., 28,  2,  5],
       [ 1,  1,  0, ..., 23,  7,  5],
       [ 1,  1,  0, ..., 25,  9,  6]])

In [25]:
Scaler.fit(df)

MinMaxScaler()

In [26]:
df

         BMI   Age  Education
0       40.0   9.0        4.0
1       25.0   7.0        6.0
2       28.0   9.0        4.0
3       27.0  11.0        3.0
4       24.0  11.0        5.0
...      ...   ...        ...
253675  45.0   5.0        6.0
253676  18.0  11.0        2.0
253677  28.0   2.0        5.0
253678  23.0   7.0        5.0
253679  25.0   9.0        6.0

[253680 rows x 3 columns]

In [28]:
df = Scaler.transform(df)
df

array([[-1.35749054e-01, -2.77777778e-02, -8.00000000e-02],
       [-1.37777177e-01, -4.16666667e-02,  5.55111512e-17],
       [-1.37371552e-01, -2.77777778e-02, -8.00000000e-02],
       ...,
       [-1.37371552e-01, -7.63888889e-02, -4.00000000e-02],
       [-1.38047593e-01, -4.16666667e-02, -4.00000000e-02],
       [-1.37777177e-01, -2.77777778e-02,  5.55111512e-17]])